@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/static/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/static/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/static/RobotoMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
